<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <title>Document</title>
  </head>
  <body>
      <!-- Cards -->
      <div class="flex mb-4 mt-32">
        <div class="w-1/2 bg-gray-400 ml-8 px-8 py-8">
      
          <div class="max-w-lg rounded overflow-hidden shadow-lg">
            <canvas id="myDoughnutChart" width="800" height="450"></canvas>
            <div class="px-6 py-4 bg-white">
              <div class="font-bold text-xl mb-2">chartTitle - Demographic Data</div>
              <p class="text-pink-700 text-base">
                The following provides demographic data for New York.
              </p>
            </div>
            <div class="px-6 py-4">
      
              <span
                class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-pink-200 mr-2">#cases</span>
              <span class="inline-block bg-pink-600 rounded-full px-3 py-1 text-sm font-semibold text-white">#deaths</span>
            </div>
          </div>
        </div>
        <div class="w-1/2 bg-gray-500 h-12 mr-8 px-8 py-8">
      
          <div class="max-w-lg rounded overflow-hidden shadow-lg">
            <canvas id="myBarChart"></canvas>
            <div class="px-6 py-4 bg-white">
              <div class="font-bold text-xl mb-2">Covid Cases & Deaths by County</div>
              <p class="text-pink-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
                eaque,
                exercitationem praesentium nihil.
              </p>
              
            </div>
            <div class="px-6 py-4">
      
              <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-pink-200 mr-2">5th most
                casescases</span>
              <span class="inline-block bg-pink-600 rounded-full px-3 py-1 text-sm font-semibold text-white">3rd most
                deaths</span>
            </div>
          </div>
        </div>
      
      </div>
      </div>
      
      <div class="flex mb-4 mt-4">
        <div class="w-1/2 bg-gray-400 ml-8 px-8 py-8">
      
          <div class="max-w-lg rounded overflow-hidden shadow-lg">
            <canvas id="myStackedBarChart" width="800" height="450"></canvas>
            <div class="px-6 py-4 bg-white">
              <div class="font-bold text-xl mb-2">Chart Bottom Left</div>
              <p class="text-pink-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
                eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
            <div class="px-6 py-4">
      
              <span
                class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-pink-200 mr-2">#cases</span>
              <span class="inline-block bg-pink-600 rounded-full px-3 py-1 text-sm font-semibold text-white">#deaths</span>
            </div>
          </div>
        </div>
        <div class="w-1/2 bg-gray-500 h-12 mr-8 px-8">
      
          <div class="max-w-lg rounded overflow-hidden shadow-lg">
            <canvas id="barChartHorizontal" width="800" height="450"></canvas>
            <div class="px-6 py-4 bg-white">
              <div class="font-bold text-xl mb-2">Median Income by Race</div>
              <p class="text-pink-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
                eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
            <div class="px-6 py-4">
      
              <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-pink-200 mr-2">5th most
                casescases</span>
              <span class="inline-block bg-pink-600 rounded-full px-3 py-1 text-sm font-semibold text-white">3rd most
                deaths</span>
            </div>
          </div>
      
        </div>
      </div>

{% block javascript %}
<script>
  // load the objects like you would with a normal jinja template i.e. {{ object }}, but add | tojson
  // pass it into the parse function
  labels = {{ pop_label | tojson }}; 
  data = {{ population | tojson }};
  median = {{ median_income | tojson }};
  
  // Doughnut
  new Chart(document.getElementById('myDoughnutChart'), {
      type: 'doughnut',
      data: {
        datasets: [
          {
            data: data,
            backgroundColor: ['#FF6384', '#63FF84', '#84FF63'],
          },
        ],

        legend: {
          position: 'left',
        },
        animation: {
          animateRotate: false,
          animateScale: true,
        },

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: labels,
      },
    });



// Stacked Bar 
  new Chart(document.getElementById('myBarChart'), {
    type: 'bar',
    data: data,
    options: {
      scales: {
        xAxes: [{
          stacked: true
        }],
        yAxes: [{
          stacked: true
        }]
      }
    }
  });


  // new Chart(document.getElementById('myBarChart'), {
  //   type: 'bar',
  //   data: {
  //     labels: labels,
  //     datasets: [
  //       {
  //         label: 'Demographics for County:',
  //         data: data,
  //         backgroundColor: [
  //           'rgba(255, 99, 132, 0.2)',
  //           'rgba(54, 162, 235, 0.2)',
  //           'rgba(255, 206, 86, 0.2)',
  //           'rgba(75, 192, 192, 0.2)',
  //           'rgba(153, 102, 255, 0.2)',
  //           'rgba(255, 159, 64, 0.2)',
  //           'rgba(54, 159, 64, 0.2)',
  //         ],
  //         borderColor: [
  //           'rgba(255, 99, 132, 1)',
  //           'rgba(54, 162, 235, 1)',
  //           'rgba(255, 206, 86, 1)',
  //           'rgba(75, 192, 192, 1)',
  //           'rgba(153, 102, 255, 1)',
  //           'rgba(255, 159, 64, 1)',
  //           'rgba(54, 159, 64, 1)',
  //         ],
  //         borderWidth: 1,
  //       },
  //     ],
  //   },
  //   options: {
  //     scales: {
  //       yAxes: [
  //         {
  //           ticks: {
  //             beginAtZero: true,
  //           },
  //         },
  //       ],
  //     },
  //   },
  // });


// Stacked
  new Chart(document.getElementById('myStackedBarChart'), {
    type: 'bar',
    data: {
      labels: ['Risk Level'],
      datasets: [
        {
          label: 'Lunch Program',
          data: [67.8],
          backgroundColor: '#D6E9C6',
        },
        {
          label: 'Not On Program',
          data: [20.7],
          backgroundColor: '#FAEBCC',
        },
      ],
    },
    options: {
      scales: {
        xAxes: [{ stacked: true }],
        yAxes: [{ stacked: true }],
      },
    },
  });




//Horizontal Bars
  new Chart(document.getElementById('barChartHorizontal'), {
    type: 'horizontalBar',
    data: {
      labels: labels,
      datasets: [
        {
          label: 'Population (millions)',
          backgroundColor: [
            '#3e95cd',
            '#8e5ea2',
            '#3cba9f',
            '#e8c3b9',
            '#c45850',
          ],
          data: median,
        },
      ],
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Median Income by Race',
      },
    },
  });

</script>

{% endblock %}


    
   

    
  </body>
</html>
